@model ContactPro_MVC.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-light">Create a new Category</h4>
<hr />
<div class="row">
    <div class="col-md-4 text-dark">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-primary rounded-pill btnList">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary rounded-pill btnList" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
